/*
Author: Ömer Güler
 */

/* -- MAIN CSS -- */

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.container16 {
	overflow: hidden;
}

.clear {
	clear: both;
}

.ared {
	color: #82ccf2;
}

/* -- HEADER -- */

#header {
	position: fixed;
	top: 0;
	margin-top: 24px;
	left: 0;
	right: 0;
	height: 75px;
	color: white;
	border-bottom: 1px solid black;
	background-color: white;
	border-bottom: 2px solid #7a7673;
	z-index: 9999;
	opacity: 0.9;
}

.conhe {
	width: 100%;
	position: absolute;top: 0;
	left: 0;
	right: 0;
	height: 23px;
	background-color: #82ccf2;
	margin-top: -24px;
	border-bottom: 1px solid white;
}

.conhe span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	float: right;
	font-size: 11px;
	line-height: 23px;
	letter-spacing: 1px;
}

.conhe span.conhide {
	float: none !important;
}

.conhe span a {
	color: white;
	text-decoration: none;
}

.conhe span a:hover {
	text-decoration: underline;
}

.backhead {
	background: url("") no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 700px;
	left: 0;
	right: 0;
    position: relative;
    display: block;
}

.backhead span {
	float: left;
	width: 600px;
	margin-top: 250px;
	color: white;
}

.backhead h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	letter-spacing: 3px;
	margin-bottom: 20px;
}

.backhead p {
	font-size: 18px;
	line-height: 40px;
	font-family: 'Source Sans Pro', sans-serif;
}

.backhead img {
	float: left;
	height: 257px;
	margin-top: 262px;
	margin-left: 127px;
}

#header img.logo {
	height: 75px;
	width: auto;
	float: left;
	margin-top: -10px;
}

#header a img.menu {
	float: right;
	width: auto;
	display: none;
}

#header ul {
	display: block;
	list-style-type: none;
	height: 75px;
	float: right;
	font-family: 'Roboto Condensed', sans-serif;
}

#header ul li {
	float: left;
}

li.active a {
	background-color: #82ccf2;
	color: white !important;
}

#header ul li a {
	float: left;
	height: 75px;
	padding-left: 13px;
	padding-right: 13px;
	font-size: 15px;
	line-height: 75px;
	text-decoration: none;
	color: #161616;
	letter-spacing: 1px;
	transition: all 0.2s; 
}

#header ul li a:hover {
	background-color: #7a7673;
	color: white;
	transition: all 0.2s;
}

ul.mobile {
	font-family: 'Roboto Condensed', sans-serif;
	position: fixed;
    z-index: 9999999;
    background-color: #7a7673;
    width: 230px;
    height: 100%;
    top: 0;
    right: 0;
    overflow-y: scroll;
    display: none;
    list-style-type: none;
}

ul.mobile li {
	display: block;
}

ul.mobile li a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding-left: 22px;
	padding-top: 12px;
	padding-bottom: 12px;
}

ul.mobile li a:hover {
	background-color: #82ccf2;
}

/* -- CONTENT-- */

#content {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
}

/* -- CONTENT WITHOUT PIC-- */

#contentwithoutpic {
	display: block;
	padding-top: 130px;
	padding-bottom: 30px;
}



/* -- ABOUT -- */

#about {
	display: block;
	margin-top: 40px;
	padding-bottom: 70px;
	margin-left: 20px;
	margin-right: 20px;
}

#about h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	letter-spacing: 1px;
	margin-bottom: 30px;
	color: #161616;
}

#about h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	letter-spacing: 1px;

	color: #82ccf2;
}

#about h3 {
	ine-height: 1.7em;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	color: #82ccf2;
	text-decoration: none;
}

#about h5 {
	ine-height: 1.7em;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	color: #555555;
}
#about  {
	line-height: 1.7em;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #161616;
	text-decoration: none;
}

a:link{
	text-decoration: none;
	color:#82ccf2;

}

a:visited{
	color: #82ccf2;
}

a:hover{
	color: #555555;
}



/* -- PREFOOTER -- */

#prefooter {
	background: url("") no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 250px;
	left: 0;
	right: 0;
    display: block;
    border-top: 3px solid #82ccf2;
}

#prefooter a {
	height: 60px;
	width: 300px;
	line-height: 60px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid white;
	color: white;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
	margin-top: 95px;
	opacity: 0.8;
	transition: all 0.3s;
}

#prefooter a:hover {
	opacity: 1;
	transition: all 0.3s;
}

/* -- FOOTER -- */

#footer {
	display: block;
	height: 75px;
	background-color: #82ccf2;
	text-align: center;
	line-height: 75px;
	opacity: 0.8;
}

#footer a {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: white;
}

#footer a:hover {
	text-decoration: underline;
}




/* -- MEDIA QUERIES -- */

@media only screen and (min-width: 960px) and (max-width: 1160px) {

	.backhead span {
		width: 480px;
	}

	.backhead img {
		height: 247px;
		margin-top: -244px;
		margin-left: 542px;
	}

	.backhead h1 {
		font-size: 65px;
	}

	.backhead p {
		font-size: 16px;
	}

}


@media only screen and (min-width: 768px) and (max-width: 960px) {

	.backhead {
		height: 860px;
	}

	.backhead span {
		width: 480px;
	}

	.backhead img {
		height: 193px;
   		margin-top: -234px;
   		margin-left: 472px;
	}

	.backhead h1 {
		font-size: 65px;
	}

	.backhead p {
		font-size: 16px;
	}


}


@media only screen and (min-width: 480px) and (max-width: 768px) {

#header {
	height: 75px;
}

#header ul {
	display: none;
}

#header img.logo {
	height: 75px;
}

#header a img.menu {
	display: block;
	height: 36px;
	float: right;
	width: auto;
	margin-top: 22px;
}

.backhead {
	height: 860px;
}

.backhead span {
	display: block;
	float: none;
	margin-top: 130px;
	width: 420px;
}

.backhead img {
	float: none;
	display: block;
	height: 257px;
    margin-top: 83px;
    margin-left: 20px;
}

.backhead h1 {
	font-size: 63px;
}

#about p {
	font-size: 19px;
}

.conhe span.conhide {
	display: none;
}

.modal {
	width: 345px;
}

}

@media only screen and (max-width: 480px) {

.modal {
	width: 260px;
}

#header {
	height: 70px;
}

#header ul {
	display: none;
}

#header img.logo {
	height: 70px;
}

#header a img.menu {
	display: block;
	height: 30px;
	float: right;
	width: auto;
	margin-top: 20px;
}

.conhe span {
	letter-spacing: 0px;
	font-size: 11px;
}

.backhead {
	height: 688px;
}

.backhead span {
	display: block;
	float: none;
	margin-top: 130px;
	width: 300px;
}

.backhead img {
	float: none;
	display: block;
	height: 200px;
    margin-top: 55px;
    margin-left: 8px;
}

.backhead p {
	font-size: 15px;
	line-height: 33px;
}

.backhead h1 {
	font-size: 45px;
}


#about p {
	font-size: 18px;
}

#prefooter a {
	width: 288px;
}

.conhe span.conhide {
	display: none;
}

}