body {
    background: #fff;
    color: #fff;
}
#body {
    background:#82ccf2;
    padding: 10px;
    margin: 10px auto;
    width: 50%;
    box-shadow: 0 0 20px #303766;
}

#title_bar table{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width:100%;
}
#title_bar table td {
    padding: 5px;
}
#title_bar table a{
    background: #fff;
    padding: 10px;
    text-decoration: none;
    color: #555555;
    display: block;
}
#title_bar table a:hover{
    background: #82ccf2;
}
#container{
    border: 1px solid #ccc;
    padding: 10px;
    margin:6px;
}
#view_box{
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    height: 250px;
    box-shadow:0 0 5px #6A8186;
    padding: 5px;
    margin:5px;
    float: left;


}
a:link{
    text-decoration: none;
    color: #4c63f2;

}

a:visited{
    color: #4c63f2;
}

a:hover{
    color: #555555;
}


#view_box img {
    width:70%;
}
.clear {
    clear: both;
}